<h1><%= @category.name %></h1>

<ul id="item-add-button">
<% @items.each do |item| %>
	<li>
		<%= item.name %>
		<%= form_for :user_items, url: user_items_path, method: :post do |f| %>
			<%= f.hidden_field(:item_id, :value => item.id) %>
			<%= f.submit "Add" %>
		<% end %>
	</li>
<% end %>
</ul>
	